USE [master]
GO
/****** Object:  Database [AlmacenVideoJuegos]    Script Date: 6/10/2022 15:17:44 ******/
CREATE DATABASE [AlmacenVideoJuegos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AlmacenVideoJuegos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AlmacenVideoJuegos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AlmacenVideoJuegos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\AlmacenVideoJuegos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AlmacenVideoJuegos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AlmacenVideoJuegos]
GO
/****** Object:  User [alumno]    Script Date: 6/10/2022 15:17:44 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Videojuego]    Script Date: 6/10/2022 15:17:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Videojuego](
	[IdVideojuego] [int] NOT NULL,
	[IdEmpresa] [int] NOT NULL,
	[fechaLanzamiento] [date] NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
	[Descripción] [varchar](max) NOT NULL,
	[Logo] [image] NULL,
	[Caratula] [image] NOT NULL,
	[Banner] [image] NULL,
 CONSTRAINT [PK_Videojuego] PRIMARY KEY CLUSTERED 
(
	[IdVideojuego] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
