@{
    ViewData["Title"] = "Home Page";
}

<h1 class="titulo">Resultado</h1>

@foreach (Videojuego v in ViewBag.Videojuegos)
{
    <div class="card" style="width: 18rem;">
        <img src="@v.Caratula" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">@v.Nombre</p>
        </div>
    </div>
}