@{
    ViewData["Title"] = "Home Page";
}

<h1 class="titulo">Resultado</h1>

@foreach (Empresa e in ViewBag.Empresas)
{
    <div class="card" style="width: 18rem;">
        <img src="@e.Logo" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">@e.Nombre</p>
        </div>
    </div>
}