html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
  position:fixed;
  left: 0px;
  bottom:0px;
  right:0px;
}

.titulo{
  text-align: center;
  background-color: #FCB510;
  
}

.simbolo{
  width: 15%;
  float: right;
}

.cards{
  float: left;
}

.eliminar{
  float: right;
}

.resultadosV{
  width: 90%;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}